/* This styles the navbar and the bootstrap containers */
body{
  margin: 0px;
}
main{
  margin-left: 20px;
  margin-right: 0px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: pink;
}

.navbar ul{
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding-right: 15px;
}
ul a{
  color: black;
  text-decoration: none;
  padding: auto;
  text-align: center;
  padding: 15px;
  justify-content: baseline;
  border: 1px solid black;
  border-radius: 10%;
}

.logoName a{
  padding: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-decoration: none;
}

.logoName h1{
  display: flex;
  align-items: center;
}
.navbar li a:hover{
  background-color: rgb(255, 164, 179);
}

.navbar li{
  display: flex;
  
}

.navbar img{
  padding: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size:x-large;
  justify-content:end;
  align-items: center;
  margin-left: 0px;
  padding: 10px;
  -webkit-text-stroke: .5px black;
  color: palevioletred;
  padding: 0px;
}


.intro h3{
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-family:Helvetica, sans-serif;
  margin-top:15px;
  margin-left: 90px;
  padding:10px;
 
}

.col :hover{
opacity: 90%;
}
.container h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  width: 100%; /* Set the width to 100% to make the image fill the container */
  height: 375px; /* Set the desired height for the images */
  object-fit: cover; /* Scale the image while preserving its aspect ratio */
}

/* styling for the safety, cost, and rating row */
.row ul{
  list-style: none;
  display:flex;
  justify-content:end;
  gap: 5rem;
  
  
}
.row li{
  border: 2px solid black;
  margin-right: 130px;
  padding: 9px;
  border-radius: 15%;
}


.col{
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.about-content {
  max-width: 800px;
  margin-bottom: 50px; /* Add some space between sections */
}

.section-title {
  text-align: center;
}

.creators-container {
  display: flex;
  justify-content: space-evenly; /* Center creator sections horizontally */

}

.creator {
  margin: 0 20px; /* Add some space between creators */
  text-align: center;
}

.creator-img img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
.creator-info h3{
  justify-content: space-evenly;
}




/* style for the subpages */
.sub ul{
  list-style: none;
  display:flex;
  justify-content:space-between;
  align-items: center;
  gap: 100px;
  margin-right: 80px;
}


#pic{
  border: 2px solid black;
  /* margin-right: 200px; */
  padding: 9px;
}
#pic h3{
  display: flex;
  justify-content: center;
  width: 300px;
  
}

/* styling for the subpage li img elemements */
.sub li img{
  width: 100%; /* Set the width to 100% to make the image fill the container */
  height: 250px; /* Set the desired height for the images */
  object-fit: cover;
  gap: 2rem;
}



